@import url('https://fonts.googleapis.com/css?family=Akronim|Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

*{
    font-family: 'Raleway';
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

div.image-dessous {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./la-havane-cuba.jpg');
    background-position: center top;
    height: 100vh;
    width: 100%;
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 20vh;
    background-color: #357ded;
    margin: 0px auto;
    border-radius: 50% 20% / 10% 40%;
}
nav ul {
    margin:0px 20px;
}
nav ul li{
    display: inline;
    margin-right:5px;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    /* font-family: 'Playfair Display', Arial, Helvetica, sans-serif; */
}
#logo{
    display: flex;
    align-items: center;
}
#logo h3{
    color: white;
    font-size: 30px;
    font-family: 'Akronim';
}
#lettreU {
    color: red;
}
#image{
    height: 100px;
    width: 100px;
    margin: 20px 20px;
    border-radius: 100%;
    border: 2px solid rgb(255, 255, 255);
}

.container-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.container-top h1 {
    color: white;
    font-size: 5em;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
}

.fleche {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid white;
    justify-self: flex-end;

    position: relative;
}

.fleche .left,
.fleche .right {
    width: 30px;
    height: 1px;
    border-bottom: 4px solid white;

    position: absolute;
    top: 50px
}

.fleche .left {   
    transform: rotate(45deg);
    left: 20px;
}

.fleche .right {  
    transform: rotate(-45deg);
    left: 40px;
}


.container-body {
    width: 100%;
    background-color: white;
    min-height: 100vh;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container__title {
    font-size: 4em;
    width: 100%;
    text-align: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    margin-left: 10%;
}

article {
    width: calc(50% - 20px);
    display: flex;
    border-left: 2px solid #357ded;
    padding-left: 20px;
    background-color: #f99c4698;
    margin: 0 20px 20px 0;
    flex-direction: column;
    border-radius:  50% 1% / 10% 40% ;
}

.article__right {
    margin-top: 10px;
    margin-left: 20px;
}
.article__left{
    display: inline-block;
    width: 100%;
}
.article__right{
    display: inline-block;
    width: 50%;
}
article h4{
  text-align: center;
  font-size: 30px;
  color: white;
  margin-bottom: 5px;
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
}

aside {
    width: 20%;
    background-color: blue;
}
footer{
    width: 100%;
    height: 5%;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
footer p{
    color: white;
    margin-right: 20px;
}